services:
  frontend:
    build: ./frontend
    container_name: next-frontend
    ports:
      - "3000:3000"
    restart: always

  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "8000:8000"
    restart: always
  
       
      
                  
       
      

      
