version : "3.9"
services:
    frontend:
     build: ./frontend
     container_name: frontend_container
     ports:
       - "3000:3000"
    backend:
     build: ./backend
     container_name: backend_container
     ports:
       - "8000:8000"   
       
      
                  
       
      

      